**/target/

# Eclipse configuration files
**/.classpath
**/.settings/
**/.project
**/.springBeans

# IntelliJ configuration files
**/.idea/
**/*.iml

# Angular files
**/node_modules
/frontend/app/**/*.js
/frontend/app/**/*.js.map