<div class="body-flex">
  <div class="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-nopadding">
      <a class="navbar-brand" href="#"><img src="assets/img/quboo_logo_orange_250.png" width="180px" class="mr-2"/></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item navbar-item-custom">
          <a class="nav-link" routerLink="/teams" routerLinkActive="active">Teams</a>
        </li>
        <li class="nav-item navbar-item-custom">
          <a class="nav-link" routerLink="/members">Players</a>
        </li>
        <li class="nav-item navbar-item-custom">
          <a class="nav-link" routerLink="/organizer">Organizer</a>
        </li>
        <li class="nav-item navbar-item-custom">
          <a class="nav-link" routerLink="/settings">Settings</a>
        </li>
        <li class="nav-item navbar-item-custom">
          <a class="nav-link" href="https://quboo.tpd.io">Help</a>
        </li>
        <li class="nav-item navbar-item-custom">
          <a class="nav-link" (click)="forceRetrieval()"><fa name="refresh"></fa></a>
        </li>
      </ul>
      <div class="my-2 my-lg-0 ptr">
        <div><a href="https://www.patreon.com/quboo"><img src="assets/img/become_a_patron_button.png"/></a></div>
      </div>
    </nav>
    <div class="gameBackgroundPanel">
      <div class="gamePageContent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <footer></footer>
</div>
