/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.gameBackgroundPanel{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1em;
}
.gamePageContent{
  width: 800px;
  max-width: 800px;
}
