<div class="bg-dark text-light footer" align="center">
  <div class="footer-content">
    <div *ngIf="code.name === '-NOCODE-'">
      <img src="assets/img/monkey_logo.gif" width="24px" height="24px" style="margin-right: 5px"/>
      <strong>Psst!</strong> Do you like this project?
      <a href="https://www.patreon.com/quboo" class="alert-link">Become a Patron</a>
    </div>
    <div *ngIf="code.name !== '-NOCODE-'">
      Proudly supported by <strong>{{code.name}} </strong>
    </div>
    <div> | <a href="https://github.com/mechero/code-quality-game">Quboo source</a></div>
    <div> |
      <a href="https://thepracticaldeveloper.com?ref=quboo"> by The Practical Developer</a></div>
  </div>
</div>
