<h3 class="text-center">Player Ranking</h3>
<div>
  <table class="table table-striped table-dark" id="players">
    <thead>
    <tr>
      <th>Ranking</th>
      <th>Name</th>
      <th>Team</th>
      <th>Score</th>
      <th>Badges</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let member of memberStats; let i = index" [ngClass]="{'text-primary': i===0}">
      <td *ngIf="i === 0"><fa name="trophy" size="2x"></fa></td>
      <td *ngIf="i > 0">{{i + 1}}</td>
      <td>{{member.userAlias}}</td>
      <td>{{member.userTeam}}</td>
      <td>{{member.totalPoints}}</td>
      <td><span *ngFor="let b of member.badges" class="badge badge-info">{{b.name}}</span></td>
    </tr>
    </tbody>
  </table>
</div>
