<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="posts" th:fragment="config-form">
    <h1 class="content-subhead">Sonar Server Configuration</h1>
    <section class="post">
        <form class="pure-form pure-form-aligned" th:action="@{/configuration}" th:object="${configuration}" method="post">
            <fieldset>
                <div class="pure-control-group">
                    <label for="url">Sonar URL</label>
                    <input id="url" type="text" th:field="*{url}"/>
                </div>
                <div class="pure-control-group">
                    <label for="user">Username</label>
                    <input id="user" type="text" th:field="*{user}"/>
                </div>
                <div class="pure-control-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" th:field="*{password}"/>
                </div>
                <div class="pure-controls">
                    <button class="pure-button pure-button-primary" type="submit">Save</button>
                </div>
            </fieldset>
        </form>
    </section>
    <h1 class="content-subhead">Sonar Server Status</h1>
    <section class="post">
        <div th:text="#{*{serverStatus.status}}"></div>
        <div th:text="*{serverStatus.message}"></div>
    </section>
</div>
</body>
</html>