<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="header" th:fragment="sidebar">
    <h1 class="brand-title">Legacy-Code Killers</h1>
    <h2 class="brand-tagline">This is a classification of the major
        contributors to pay Sonar's technical debt.</h2>
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item"><a class="pure-button"
                                    th:href="@{/users}">Users</a></li>
            <li class="nav-item"><a class="pure-button"
                                    th:href="@{/teams}">Teams</a></li>
            <li class="nav-item"><a class="pure-button"
                                    th:href="@{/configuration}">Configuration</a></li>
        </ul>
    </nav>
</div>

</body>
</html>