<h3>Team Ranking</h3>
<div class="grid grid-pad">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Ranking</th>
      <th>Team</th>
      <th>Total Score</th>
      <th>Total Paid Debt (min)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let team of teams; let i = index" [ngClass]="{'text-primary': i===0}">
      <td *ngIf="i === 0"><i class="fas fa-trophy fa-2x text-primary" aria-hidden="true"></i></td>
      <td *ngIf="i === 1 || i === 2"><i class="fas fa-trophy text-success" aria-hidden="true"></i></td>
      <td *ngIf="i >= 3">{{i + 1}}</td>
      <td>{{team.userTeam}}</td>
      <td>{{team.totalPoints}}</td>
      <td>{{team.totalPaidDebt}}</td>
    </tr>
    </tbody>
  </table>
</div>
